<main class="mat-typography app-frame mat-app-background">
  <mat-toolbar color="primary" layout="column">
    <span>Dogs-App </span>
    <app-theme-switch [isDark]="isDarkMode" (onModeChanged)="onDarkModeSwitched($event)"></app-theme-switch>
  </mat-toolbar>
  <section class="content">
    <app-dogs-search [breedsContext$]="breedsContext$" (onSearch)="searchBreeds($event)"></app-dogs-search>
  </section>
  <section class="container container--lg gallery">
    <app-dogs-gallery *ngIf="breedImages$ | async as breedImages" [breeds]="breedImages"></app-dogs-gallery>
  </section>
</main>
