<form [formGroup]="searchForm" class="search__form">
  <mat-form-field class="search__input" appearance="outline">
    <mat-label>Breed</mat-label>
    <mat-select [formControl]="breedControl">
      <mat-option *ngFor="let val of breedsKeys" [value]="val">
        {{val | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="search__input" appearance="outline">
    <mat-label>{{subBreeds?.length ? 'Sub-Breed' : 'No Sub-Breed'}}</mat-label>
    <mat-select [formControl]="subBreedControl">
      <mat-option *ngFor="let val of subBreeds" [value]="val">
        {{val}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
